*.pdf
*.mp4
*.pyc
/fullstack/project1/README.org~
/fullstack/project1/open_brows.py~
/supporting materials/fundamentals_supplementary_materials/Lesson 1 (Use Functions) Subtitles/01 - Course Map.srt~
/supporting materials/fundamentals_supplementary_materials/Lesson 1 (Use Functions) Subtitles/lesson1.org~
*#
*~
